AppTools==3.3.2
Babel==0.9.6
Cython==0.15.1
EnthoughtBase==3.0.5
EnvisageCore==3.1.2
EnvisagePlugins==3.1.2
-e svn+svn+ssh://svn@code.matforge.org/fipy/trunk@5253#egg=FiPy-3.0_dev5232-py2.6-dev_r5253
Genshi==0.6
Jinja2==2.6
MayaVi==1.5
PAM==0.4.2
PIL==1.1.7
PyVTK==0.4.74
Pygments==1.4
Pympler==0.2.1
Pyste==0.9.10
SQLAlchemy==0.7.4
SimpleParse==2.1.1
Sphinx==1.1.2
Tempita==0.5.1
Trac==0.12.2
TracGit==0.12.0.5dev
Traits==3.4.0
TraitsBackendWX==3.4.0
TraitsGUI==3.4.0
Twisted==11.1.0
Twisted-Core==10.1.0
Twisted-Names==10.1.0
Twisted-Web==10.1.0
VTK==5.4.2
aeidon==0.17
buildbot==0.8.5
chardet==2.0.1
configobj==4.7.2
cups==1.0
cvxopt==1.1.2
decorator==3.3.2
distribute==0.6.24
docutils==0.8.1
-e svn+svn+ssh://svn@code.matforge.org/wd15/trunk/moffat/electrical@1595#egg=electrical-dev_r1595
-e git+git@github.com:wd15/extreme-fill.git@8531506bd06930f9fd8f78dfeb8316ee2ec0e08a#egg=extremefill-dev
foolscap==0.5.0
glpk==0.3.43
iniparse==0.3.2
iotop==0.4
ipdb==0.6.1
ipython==0.13
lxml==4.6.5
matplotlib==1.1.0
mpi4py==1.2.2
numexpr==2.0.1
numpy==1.6.1
openopt==0.27.dev
pexpect==2.3
ply==3.3
profiler==0.0.0
pyOpenSSL==0.10
pyamg==1.0.0.dev
pyenchant==1.5.3
pyflakes==0.5.0
pyparsing==1.5.2
pyserial==2.3
pysparse==1.2-dev224
python-Levenshtein==0.10.1
python-apt==0.7.100.1-squeeze1
python-dateutil==1.4.1
python-ldap==2.3.11
pytz==2010b
pyzmq==2.2.0
reportbug==4.12.6
scikit-fmm==0.0.2
scipy==0.10.0
simplejson==2.1.1
sqlalchemy-migrate==0.7.1
stdeb==0.6.0
tables==2.4.0
tornado==2.3
## FIXME: could not find svn URL in dependency_links for this package:
traclinks==0.1dev-20120320
translate-toolkit==1.7.0
uTidylib==0.2
virtualenv==1.7
virtualenvwrapper==2.11.1
vobject==0.8.1c
wsgiref==0.1.2
wxPython==2.8.10.1
wxPython-common==2.8.10.1
zope.interface==3.5.3
